

.about-container {
    margin: 2rem;
  }
  
  .about-title {
    font-size: 2rem;
    color: #333;
  }
  
  .about-text {
    font-size: 1.5rem;
    color: #666;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* Ajusta el ancho de la "caja" que contiene el texto */
  }
  
  