.parallax {
    /* tus estilos de parallax */
  }
  
  .git-form {
    /* tus estilos de git-form */
  }
  
  .form-container button {
    border-radius: 5px; /* tus estilos de form-container button */
  }
  .git-head-div {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .git-head {
    font-size: 36px;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .git-cont {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-container {
    width: 100%;
  }
  
  .form-group input,
  .form-group textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group button {
    padding: 15px 30px;
    background-color: #333;
    color: white;
    border: none;
    /* border-radius: 5px; */
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .inline-block i {

    font-size: 24px; 
    margin: 15px; 
    color: #333;
  }
  
  .social-icons a {
    margin: 0 15px;
  }
  
  .Copy {
    text-align: center;
    margin-top: 20px;
  }
  

.toast {
    visibility: hidden;
    min-width: 300px;
    max-width: 400px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

.toast.hide {
    opacity: 0;
    visibility: hidden;
}