.header-section {
    background: #ffffff;
    padding: 42px 24px 42px 24px;
    display: flex;
    flex-direction: row;
    gap: 68px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .header-content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    min-width: 320px;
    max-width: 620px;
    position: relative;
  }
  .title-subtitle {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .branding-image-making {
    color: var(--black, #2d2d2d);
    text-align: left;
    font: var(--subtitle, 600 20px/30px "Epilogue", sans-serif);
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .visual-designer {
    color: var(--black, #2d2d2d);
    text-align: left;
    font: var(--h-1, 600 68px "Epilogue", sans-serif);
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .first-text {
    color: var(--black, #2d2d2d);
    text-align: left;
    font: var(--bodytext, 400 17px/27px "Epilogue", sans-serif);
    position: relative;
    align-self: stretch;
  }
  .button {
    background: #2d2d2d;
    padding: 24px 64px 24px 64px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .contact2 {
    color: var(--white, #ffffff);
    text-align: center;
    font: 600 20px/30px "Epilogue", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-image-1 {
    flex: 1;
    height: 560px;
    min-width: 320px;
    max-width: 480px;
    object-fit: cover; /* o "contain", dependiendo de lo que desees */
    position: relative;
    border-radius: 50px;
  }
  