/* src/pages/Projects.css */

.projects-container {
    padding: 2rem;
  }
  
  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* Projects.css */
.project-link {
    text-decoration: none;
    color: inherit; /* O el color que desees */
}
