
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill {
    width: 100px;
    text-align: center;
    margin: 10px;
  }
  
  .skill i {
    font-size: 2rem;
  }
  
  .skill p {
    margin-top: 10px;
  }
  